<div class="container">

  <div class="row">
    <div id="header" class="col-xs-12">
      <h1>Welcome Admin.</h1>
      <h3>Add Books and Authors to the Database.</h3>
    </div>
    <div class="col-xs-4 padding"></div>
    <div class="col-xs-2">
      <a class="btn btn-default" href="/admin/book/create">Add Book</a>
    </div>
    <div class="col-xs-2">
      <a class="btn btn-default" href="/admin/author/create">Add Author</a>
    </div>
    <div class="col-xs-4 padding"></div>
  </div>

</div>
