<div class="container">
  <div class="row">
    <img src={{author.img_url}} class="col-xs-4"></img>
    <div class="details col-xs-8">
      <div class="row">
        <div id="header" class="col-xs-12"><h2>{{author.name}}</h2><h2 class="subtitle-text">{{author.bio}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
