<div class='temp-author'>
  <div class="header author-name">
    <h2>TEST</h2>
    <h2>{{author.name}}</h2>
  </div>

  <img src={{author.img_url}} />

  <div class='author-bio'>
    <p>
      {{author.bio}}
    </p>
  </div>

</div>
