
<form action="/author/create" method="post" >
  Name:
  <input type="text" name="name"></input>
  <br>
  Bio:
  <input type="text" name="bio"></input>
  <br>
  <input type="submit" value="Submit"></input>



</form>
