<div id="header"><h1>Add Author to Database</h1>
<form action="/author/create" method="post" >
  Name:
  <input type="text" name="name"></input>
  <br>
  Bio:
  <input type="text" name="bio"></input>
  <br>
  Author Image:
  <input type="text" name="image_url"></input>
  <br>
  <input type="submit" value="Submit"></input>



</form>
