<div>
<form action="/book/delete" method="post" >
  Name:
  <input type="text" name="title"></input>
  <br>
  Author:
  <input type="text" name="author"></input>
  Genre:
  <input type="text" name="genre"></input>
  Description:
  <input type="text" name="description"></input>
  <br>
  <input type="submit" value="Submit"></input>
</form>
</div>
