<div>
  <h1>Update Book</h1>
<form action="/book/update/{{book_id}}" method="post" >
  <input type="hidden" name="book_id" value="{{book_id}}" ></input>
  Name:
  <input type="text" name="title"></input>
  <br>
  Author:
  <input type="text" name="author"></input>
  <br>
  Book Image:
  <input type="text" name="image_url"></input>
  <br>
  <!-- Genre:
  <input type="text" name="genre"></input> -->
  Description:
  <input type="text" name="description"></input>
  <br>
  <input type="submit" value="Submit"></input>
</form>
</div>
