@import 'https://fonts.googleapis.com/css?family=Averia+Serif+Libre';

body{
  border-color:#2F2D37;
  font-family:'Averia Serif Libre';
  background-color:#DFEBE2;
  text-align:center;

}
a, a:hover,a:visited{
  color:black;


}
.no-margin{
  margin-left:0;
  margin-right:0;
}
#admin-button, #search-form{
  margin-top:2em;
}

.book-image{
  width:50%;
  height:auto;
}
#detail-image {
  margin-top:10%;
  width:100%;
}
.detail-margins{
  margin-top:2.5%;
  margin-bottom:2.5%;
  width:100%;
  background-color:#9A93B7;
  border:solid;
}

.book-row{
}

.main-color{
background-color:#9A93B7;

}
.box-color{
  background-color:#EB8B91;
  background-color:#FFB0B5;
  background-color:#B8AC9C;
  background-color:#9A93B7;
  box-shadow:0,0,1em, black;

}
.book{
  margin-top:1%;
  margin-right:1%;
  margin-left:1%;
  width:23%;
  height:15em;
}
.book:hover{
  background-color:#B8A79C;
}

#header{
  width:100%;
  font-family:'Averia Serif Libre';
  text-align:center;
  padding-top:0.1em;
  padding-bottom:0.5em;
  border-color:#2F2D37;
  border-bottom:solid;


}
.subtitle-text{
  font-size:0.95em;

}
#books{
  margin-top:0.25em;
  margin-bottom:0.25em;
}
.padding{
}

#footer{
  border-top:solid;
  margin-top:1%;
  text-align:center;
}
